body {
  margin: 0;
  text-align: center;
  background-color: #dbf6e9;
}
.bottom-icon{
  width: 6%;
  position: absolute;
  left: 15%;

}
.bottom-container{
  display: inline;

}
.contact-icon{
  display: inline-block;
  width: 5%;
}
.girl-icon{
  width: 10%;
}
h1 {
  margin: 0;
  font-family: Niconne;

}
h2{

  font-family: Abel;
}
h4{
  font-family: Abel;
}
.middle-container{
  color: #07689f;
}

.middle-icon {
  width: 23%;
  padding-bottom: 10%;
}
p{
  font-family: Karla;
}
.skill-icon{
  display: inline-block;
  width: 10%;
}
.top-icon{
  width: 13%;
  position: absolute;
  right: 15%;

}
.top-container {
  padding-top: 12%;

  color: #08d9d6;

}
